.footer {
  transition: 1s;
  animation: footer 2s;
}

@keyframes footer {
  0% {
	transform: translateY(100%);
  }
  50% {
	transform: translateY(100%);
  }
  100% {
	transform: translateY(0%)
  }
}

.footer-reverse {
  transition: 500ms;
  transform: translateY(100%);
  opacity: 0;
}

.float-in-top {
  transition: 1s;
  animation: float-in-top 0.5s;
}

@keyframes float-in-top {
  0% {
	transform: translateY(-10%);
	opacity: 0%;
  }
  100% {
	transform: translateY(0%);
	opacity: 100%;
  }
}

.float-in-top-reverse {
  transition: 500ms;
  transform: translateY(-10%);
  opacity: 0;
}

.float-in-bottom {
  transition: 1s;
  animation: float-in-bottom 0.5s;
}

@keyframes float-in-bottom {
  0% {
	transform: translateY(20px);
	opacity: 0%;
  }
  100% {
	transform: translateY(0%);
	opacity: 100%;
  }
}

.float-in-bottom-reverse {
  transition: 500ms;
  transform: translateY(10%);
  opacity: 0;
}

.float-in-left {
  transition: 1s;
  animation: float-in-left 0.5s;
}

@keyframes float-in-left {
  0% {
	transform: translateX(10%);
	opacity: 0%;
  }
  100% {
	transform: translateX(0%);
	opacity: 100%;
  }
}

.float-in-left-reverse {
  transition: 500ms;
  transform: translateX(10%);
  opacity: 0;
}

.float-in-right {
  transition: 1s;
  animation: float-in-right 0.5s;
}

.float-in-right-reverse {
  transition: 500ms;
  transform: translateX(-10%);
  opacity: 0;
}

.delayed-float-in-right {
  transition: 1s;
  animation: delayed-float-in-right 1s;
}

@keyframes float-in-right {
  0% {
	transform: translateX(-10%);
	opacity: 0%;
  }
  100% {
	transform: translateX(0%);
	opacity: 100%;
  }
}

@keyframes delayed-float-in-right {
  0% {
	transform: translateX(-10%);
	opacity: 0%;
  }
  50% {
	transform: translateX(-10%);
	opacity: 0%;
  }
  100% {
	transform: translateX(0%);
	opacity: 100%;
  }
}

