#neofetch {
padding-bottom: 30px;
float: right;
display: block;
width: 450px;
z-index: 10;
position: relative;
}

#neofetch div {
  float: right;
  display: block;
  margin-right: 20px;
  color: #00ffff;
}

#neofetch p {
  display: block;
  float: left;
  padding: 0px;
  margin-left: 20px;
  color: #00f000;
}

@media screen and (max-width: 750px) {
  #neofetch {
    display: none;
  }
}


@media screen and (min-width: 1000px) {
	.left {
	  margin-top: 110px;
	}

	.right {
	  margin-bottom: 100px;
	}
}

i {
	color: violet;
}

