@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Quicksand:wght@600');

button:hover {
  cursor: pointer;
}

body {
  color: white;
  margin: 0;
  font-family: "Quicksand";
  margin-bottom: 80px;
  position: relative;
  overflow: auto;
}

h2 {
  color: #309ee2;
}

h3 {
  color: #515f00;
}

.flex-container {
	display: flex;
	align-items: stretch;
	left: 0;
	right: 0;
	top: 0;
}

.container {
  margin: 10px 10px 0px 10px;
  border: 2px white solid;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.left {
	display: flex;
	min-width: calc(50vw - 25px);
	float: left;
}

.right {
	display: flex;
	min-width: calc(50vw - 20px);
	float: right;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#main-nav {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  background-color: #272729;
  overflow: hidden;
  width: 100%;
}

#main-nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0px;
  padding: 7px 12px;
  color: white;
}

#main-nav li {
  float: left;
}

#main-nav li:last-child {
  float: right;
}

#main-nav li:hover {
  background-color: #1B1C1E;
}

#main-nav #selected a {
  background-color: #04aa6d;
  text-shadow: 2px 2px #3D6E44;
}

#main-nav #selected a:hover {
  background-color: #07bd7a;
  box-shadow: 0px 3px #2a332c;
}

@media screen and (min-width: 1000px) {
  #main-nav {
    font-size: 120%;
  }

  h1 {
    font-size: 200%
  }

  p,
  p ul li {
    font-size: 115%;
  }

  #banner p {
    font-size: 150%;
    padding: 40px;
  }
}

@media screen and (max-width: 1000px) {
  #main-nav li {
    display: block;
    float: none;
  }

  #main-nav {
    font-size: 130%;
  }

  #main-nav li:last-child {
    float: none;
  }

  #banner p {
    font-size: 150%;
    padding: 40px;
  }

  h1 {
    font-size: 250%;
  }

  button {
    font-size: 80%;
  }
}


.p,
.p ul li {
  padding-left: 4%;
  padding-right: 4%;
}

h1 {
  color: #36cebc;
  margin: 10px;
  font-family: "Quicksand";
}

p,
ul,
button {
  color: rgb(219, 219, 219);
  font-family: "Quicksand";
}

#banner {
  background-blend-mode: hue;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../resources/banner.webp");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#banner p {
  margin: 0;
  color: white;
  text-shadow: 1px 1px #66CFFF;
}

footer {
  background-color: #272729;
  padding-bottom: 0;
  overflow: none;
  width: 100%;
  display: block;
  padding: 12px 0px;
  position: fixed;
  bottom: 0;
}

footer span {
  float: right;
  color: #7F7F7F;
  display: block;
  padding-right: 10px;
}

footer ul {
  padding: 0 0;
  display: block;
  margin-bottom: 40px;
}

footer ul li {
  float: left;
  display: block;
  padding: 0 0;
  color: lightgrey;
  font-family: "Quicksand"
}

footer ul li a {
  text-decoration: none;
  padding-left: 10px;
  color: white;
}

#neofetch {
padding-bottom: 30px;
float: right;
display: block;
width: 450px;
z-index: 10000;
}

#neofetch div {
  float: right;
  display: block;
  margin-right: 20px;
  color: #00ffff;
}

#neofetch p {
  display: block;
  float: left;
  padding: 0px;
  margin-left: 20px;
  color: #00f000;
}

@media screen and (max-width: 750px) {
  #neofetch {
    display: none;
  }
}

button {
  border: 1px purple;
  background-color: #454850;
  color: rgb(255, 255, 255);
}

a {
  color: #309ee2;
}

.mono {
  font-family: 'JetBrains Mono';
}

.full {
	width: 100vw;
	height: 100vh;
}
