@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Quicksand:wght@600');

button:hover {
  cursor: pointer;
}

body {
  color: white;
  background-color: #252525;
  margin: 0;
  font-family: "Quicksand";
  margin-bottom: 80px;
  position: relative;
  overflow-x: hidden;
}

h2 {
  color: #309ee2;
}

h3 {
  color: #e1ef33;
}

.container {
  transition: 1s;
  margin: 10px 10px 0px 10px;
  border: 2px white solid;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 8px #5b5c5e;
}

.container:hover {
  box-shadow: 0px 0px 15px #aaaaaa;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#main-nav {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  background-color: rgba(24, 18, 18, 0.95);
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid purple;
  box-shadow: 0 0 6px purple;
  transition: 0.5s;
}

#main-nav:hover {
  box-shadow: 0 0 12px purple;
}

#main-nav li button {
  transition: 0.5s;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0px;
  padding: 7px 12px;
  font-size: 24px;
  color: white;
}

#main-nav li {
  float: left;
}

#main-nav li:last-child {
  float: right;
}

#main-nav button:hover {
  background-color: #5b5c5e;
  box-shadow: 0px 0px 6px #5b5c5e;
}

#main-nav #selected button {
  background-color: #04aa6d;
  text-shadow: 2px 2px #3D6E44;
}

#main-nav #selected button:hover {
  background-color: #50ee90;
  text-shadow: 0px 3px #2a332c;
  box-shadow: 0px 0px 6px #50ee90;
}

#main-nav button {
  border: none;
  background-color: rgba(0,0,0,0);
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 1000px) {
  #main-nav {
    font-size: 120%;
  }

  h1 {
    font-size: 200%
  }

  p,
  p ul li {
    font-size: 115%;
  }

  #banner p {
    font-size: 150%;
    padding: 40px;
  }

  .right {
  	display: flex;
  	min-width: calc(50vw - 19px);
  	float: right;
  }
  
  .left {
  	display: flex;
  	min-width: calc(50vw - 19px);
  	float: left;
  	margin-left: 0;
  }
  
  .flex-container {
  	display: flex;
  	align-items: stretch;
  	left: 0;
  	right: 0;
  	top: 0;
  }
}

@media screen and (max-width: 1000px) {
  #main-nav li {
    display: block;
    float: none;
  }

  #main-nav button {
    width: 100%;
  }

  #main-nav {
    font-size: 130%;
  }

  #main-nav li:last-child {
    float: none;
  }

  #banner p {
    font-size: 150%;
    padding: 40px;
  }

  h1 {
    font-size: 250%;
  }

  button {
    font-size: 80%;
  }
}


.p, .p ul li{
  padding-left: 3vw;
  padding-right: 2vw;
}

h1 {
  color: #36cebc;
  margin: 10px;
  font-family: "Quicksand";
}

p,
ul,
button {
  color: rgb(219, 219, 219);
  font-family: "Quicksand";
}

#banner {
  background-blend-mode: hue;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../resources/banner.webp");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#banner p {
  margin: 0;
  color: white;
  text-shadow: 1px 1px #66CFFF;
  text-align: center;
}

a {
  color: #ff9ee2;
  transition: 0.5s;
}

a:hover {
  font-size: 115%;
}

.mono {
  font-family: 'JetBrains Mono';
}

.full {
	width: 100vw;
	height: 100vh;
}
footer {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,6), rgba(0,0,0,8));
  background-color: ;
  padding-bottom: 5px;
  padding-top: 20px;
  overflow: none;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
}

footer span {
  float: right;
  color: #7F7F7F;
  display: block;
  padding-right: 10px;
}

footer a {
  float: left;
  display: block;
  padding: 0 0;
  color: lightgrey;
  font-family: "Quicksand"
}

footer a {
  text-decoration: none;
  padding-left: 10px;
  color: white;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

code {
	color: #00ff00;
}

sub {
	font-size: 70%;
}

.aur, .github {
	text-decoration: none;
}

.aur {
	color: #55bbff;
}
.github {
	color: #ff0022;
}


.centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.centered-wrapper {
	display: table;
	width: calc(100% - 24px)
}

.square-button {
	width: 30px;
	height: 30px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.button {
	background-color: rgba(0, 0, 0, 0.7);
	border: 2px solid purple;
	color: violet;
	margin-top: 8px;
	box-shadow: 0 0 3px purple;
	transition: 0.5s;
}

.button:hover {
	background-color: rgba(100, 0, 100, 0.7);
	box-shadow: 0 0 6px purple;
	font-size: 100%;
}
